.project-container {
    min-height: 100vh;
}

.project-container-margin {
    margin: 70px;
}

.project-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.project-list > .project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    background-color: #101010;
    cursor: pointer;
    margin: 20px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    text-decoration: none;
}

.project-list > .project-card > .title {
    font-size: 28px;
    color: #E0AF02;
    font-weight: 700;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    text-align: center;
}

.project-list > .project-card > .description {
    display: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.project-list > .project-card:hover {
    transform: rotateY(180deg);
}

@media only screen and (max-width: 900px) {
    .project-list > .project-card > .title {
        font-size: 20px;
    }

    .project-list > .project-card > .description {
        font-size: 14px;
    }
}
